<div ng-include="'templates/header.html'"> </div>	
<div ng-include="'templates/lowerHeader.html'"> </div>

<div id="middle">
    <div id="middle-left">
        <h2>News Alerts</h2>
        <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
                   <h3>Lorem Ipsum is simply dummy text</h3>
        <p class="new">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>           
        <br/>
    </div>
    
    <div id="middle-right">
        <div class="container">
            <section class="register">
              <h1>Join today!</h1>
              <form method="post" action="index.html">
                  <div class="reg_section personal_info">
                      <input type="text" name="username" value="" placeholder="Username">
                      <input type="text" name="email" value="" placeholder="E-mail">
                      <input type="password" name="password" value="" placeholder="Password">
                      <input type="password" name="confirm" value="" placeholder="Confirm Password">
                  </div>
                  <p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
              </form>
            </section>
          </div>
    </div>
    <div class="clear"></div>
</div>

<div ng-include="'templates/footer.html'"> </div>