<div ng-include="'templates/header.html'"> </div>	
<div ng-include="'templates/lowerHeader.html'"> </div>
  
<div id="user_interface" ng-controller="ProfileListingController">
 <section class="register">
 <h2>Profile Listing</h2><br/><br/>
    <form id="form1" name="form1" method="post" action="">
      <table width="100%" border="0">
        <tr>
          <td width="18%" style="text-align:left;"><h4>Allershare ID</h4></td>
          <td width="22%" style="text-align:left;"><h4>Profile Name</h4></td>
          <td width="42%" style="text-align:left;"><h4>Address</h4></td>
          <td width="9%">&nbsp;</td>
          <td width="9%"></td>
      </tr>
       <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align:left;">AL123456</td>
          <td style="text-align:left;">Robet Azar</td>
          <td style="text-align:left;">16 Convery Gardens,London,Ec12DE</td>
          <td> <p class="submit">
                <a href="view.php"><input type="button" name="" value="View" class="button1"/></a></p></td>
               <td width="9%"><p class="submit">
               <a href=""><input type="button" name="" value="Delete" class="button1" /></a></p>  
          </td>
      </tr>
      <tr>
          <td style="text-align:left;">AL123457</td>
          <td style="text-align:left;">Test</td>
          <td style="text-align:left;">17 Convery Gardens,New York,</td>
          <td> <p class="submit">
                <a href="view.php"><input type="button" name="" value="View" class="button1"/></a></p></td>
               <td width="9%"><p class="submit">
               <a href=""><input type="button" name="" value="Delete" class="button1" /></a></p>  </td>
               
      </tr>
    </table>
  </form>
  <br/>
  <br/>
      <p class="submit">
          <a><input type="button" name="" value="Create a Profile" class="button" ng-click="createProfile()"/></a>
      </p>
     <div class="clear"></div>
  </section>
</div>

<div ng-include="'templates/footer.html'"> </div>